/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
p {
    margin-bottom: 20px;
}

.section {
    padding: 50px 0;
    background-color: #F5F5F5;
}

.nowrap {
    white-space: nowrap;
}

.padding-sm {
    padding: 20px !important;
}

.bottommargin-xs {
    margin-bottom: 10px !important;
}

.rtl .tright {
    text-align: left !important;
}

.heading-block.center > span, .heading-block.title-center > span, .center .heading-block > span {
    max-width: 800px
}

.fancy-title h1, .fancy-title h2, .fancy-title h3, .fancy-title h4, .fancy-title h5, .fancy-title h6 {
    padding: 0 15px;
}

.rtl .sm-form-control {
    min-height: 48px;
}

.text-dots {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-lg {
    font-size: 20px;
    font-weight: 300;
    color: #777;
}

.accordion-aut .accordion .acctitle, .accordion-aut .accordion .acctitlec {
    background-color: #f5f5f5;
    margin-bottom: 0px;
    border-bottom: 1px solid #DDDDDD;
}

.accordion-aut .accordion .acc_content {
    padding-top: 15px;
}

.accordion-aut .toggle {
    margin-bottom: 5px;
}

.accordion-aut .toggle.toggle-bg .togglet {
    background-color: #f5f5f5;
}

.accordion-aut .toggle .togglec {
    padding-top: 15px;
}

.tab-content {
    padding-top: 40px;
}

.iconlist li {
    margin-bottom: 10px;
}

#content > .content-wrap {
    padding-top: 40px
}

/* ----------------------------------------------------------------
	Top Menu
-----------------------------------------------------------------*/
.not-dark .portfolio .portfolio-desc h3 a {
}

#top-lang {
    border: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
}

.ltr #top-lang > li > a {
    padding-right: 0px !important;
}

.rtl #top-lang > li > a {
    padding-left: 0px !important;
}

#top-lang img {
    position: relative;
    top: -1px;
}

#top-lang ul {
    width: 110px !important;
}

.rtl #top-lang ul {
    left: 0 !important;
    right: auto !important;
}

.ltr #top-lang ul img {
    margin-right: 8px;
}

.rtl #top-lang ul img {
    margin-left: 8px;
}

#primary-menu ul ul li > a {
    text-transform: none;
    font-size: inherit;
}

.portfolio-item .portfolio-image {
    background-color: #EEE;
    padding: 10px 0;
}

#primary-menu .portfolio-item .portfolio-image img {
    width: initial;
}

/* ----------------------------------------------------------------
	home
-----------------------------------------------------------------*/
.slider-caption h2 {
    font-size: 40px;
}

.slider-caption, .nivo-caption, .flex-caption {
    max-width: initial;
}

.YTPFullscreen .slider-caption {
    display: none;
}

.video-control {
    position: absolute;
    top: auto;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFF;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.video-control:hover {
    opacity: 1;
}

#video-play {
    left: 0;
    margin-left: -24px;
}

#video-fullscreen {
    left: 30px;
}

.video-control i {
    position: relative;
}

#video-play i:nth-of-type(1) {
    left: 2px;
}

.video-control i:nth-of-type(2),
.video-control.video-played i:nth-of-type(1),
.YTPFullscreen #video-fullscreen i:nth-of-type(1) {
    display: none;
}

.video-control.video-played i:nth-of-type(2),
.YTPFullscreen #video-fullscreen i:nth-of-type(2) {
    display: block;
}

#section-box .owl-carousel .owl-stage-outer {
    min-height: 130px;
}

#section-box .owl-carousel .owl-stage-outer h5 {
    margin: 0;
}

.lines-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* number of lines to show */
    line-height: 20px; /* fallback */
    min-height: 140px; /* fallback */
}

/* ----------------------------------------------------------------
	About Us
-----------------------------------------------------------------*/
#section-history .testimonial {
    background-color: rgba(0, 0, 0, 0.3);
}

#section-history .owl-carousel .owl-dots .owl-dot span {
    background-color: #DDD;
}

/* ----------------------------------------------------------------
	News
-----------------------------------------------------------------*/
#news .entry-content {
    margin-top: 30px;
}

.ltr #news .entry-content ul {
    padding-left: 15px;
}

.rtl #news .entry-content ul {
    padding-right: 15px;
}

/* ----------------------------------------------------------------
	Clients
-----------------------------------------------------------------*/
#client-say .testi-meta span {
    color: #fdfdfd;
}

/* ----------------------------------------------------------------
	Solutions
-----------------------------------------------------------------*/
#suites a.open-all, #suites a.close-all {
    color: #666;
}

#suites a.open-all:hover, #suites a.close-all:hover {
    color: #222;
}

#suites .toggle .togglet.toggleta {
    background-color: #D5E8F5;
}

.hand {
    cursor: pointer !important;
}

.color {
    color: #9289ca !important;
}

.current {
    color: #9289ca !important;
}

ul.tab-nav.tab-nav2 li.ui-state-active a {
    background-color: #490392 !important;
}

.pdf {
    color: rgba(16, 16, 19, 0.85) !important;
}

.pdf:hover {
    color: rgba(5, 5, 7, 0.57) !important;
}

::selection {
    background: #7204e4 !important;
    color: #FFF;
    text-shadow: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
}

.header-a {
    color: #444 !important;
}

.header-a a:hover {
    color: #fff8f8 !important;
    background-color: #490392 !important;
}

.header-a a:focus {
    color: #fff8f8 !important;
    background-color: #490392 !important;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #7204e4;
    /*background-image: -webkit-linear-gradient(90deg, #7204e4 10%, #9d75e4 90%);*/
    /*background-image: -moz-linear-gradient(90deg, #7204e4 10%, #9d75e4 90%);*/
    /*background-image: -ms-linear-gradient(90deg, #7204e4 10%, #9d75e4 90%);*/
    /*background-image: -o-linear-gradient(90deg, #7204e4 10%, #9d75e4 90%);*/
    /*background-image: linear-gradient(90deg, #7204e4 10%, #9d75e4 90%);*/
    z-index: 9999;
    -webkit-transition: opacity 0.65s;
    -o-transition: opacity 0.65s;
    transition: opacity 0.65s;
}

body {
    height: 100vh;
    font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
    -webkit-font-smoothing: antialiased;
    background-color: #1B101F;
}



.loader,
.loader__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    overflow: visible;
    padding-top: 2em;
    height: 0;
    width: 2em;
}

.loader__figure {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 0 solid #fff;
    border-radius: 50%;
    -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
    float: left;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0.5em 0 0 50%;
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #fff;
    white-space: nowrap;
    -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
        background-color: #fff;
    }
    29% {
        background-color: #fff;
    }
    30% {
        height: 2em;
        width: 2em;
        background-color: transparent;
        border-width: 1em;
        opacity: 1;
    }
    100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}

@-moz-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
        background-color: #fff;
    }
    29% {
        background-color: #fff;
    }
    30% {
        height: 2em;
        width: 2em;
        background-color: transparent;
        border-width: 1em;
        opacity: 1;
    }
    100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}

@keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
        background-color: #fff;
    }
    29% {
        background-color: #fff;
    }
    30% {
        height: 2em;
        width: 2em;
        background-color: transparent;
        border-width: 1em;
        opacity: 1;
    }
    100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}

@-webkit-keyframes loader-label {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

@-moz-keyframes loader-label {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

@keyframes loader-label {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}
